name: Ruby
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
          - "head"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install native audio dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes libogg-dev libvorbis-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run specs
        run: bundle exec rspec
